{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Student</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
	<script type="text/javascript" src="{% static 'js/test.js' %}"></script>
</head>
<body>
	<h3>Registration</h3>
	<form>
		<label>Username </label>
		<input type="text" name=""><br/><br/>
		<label>Password </label>
		<input type="password" name=""><br/><br/>
		<input type="reset" value="Reset">
		<input type="button" value="Create">
	</form>
</body>
</html>